@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4">Welcome</h1>
    <p>
        In top menu you can select:
        <ul>
            <li>Employees - search, create, edit and delete eomployees</li>
            <li>Departments - search, create and edit departments</li>
        </ul>
    </p>
</div>
